
.DS_Store
*.userprefs
*.suo
*.suo.meta
*.pidb
*.unityproj
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.cache
*.csproj.user.meta

project_root_marker
.vimrc_l

# Ignore generated VS 2012 files
*.sdf
*.opensdf

Thumbs.db

_ReSharper*

*.DotSettings

.agignore

/.vim_l

.sass-cache
*.css.map

*.pyc
*.user
tags
